body {
  background: #8acdeb;
  width: 20em;
  height: 15em;
}

body h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  top: 50%;
  left: calc(50% - 35px);
  z-index: 100;
  color: #2a7293;
}
#container {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.steam {
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: -75px;
  margin-left: 55px;
  z-index: 0;
  opacity: 0;
}

#steam1 {
  -webkit-animation: steam1 4s ease-out infinite;
  animation: steam1 4s ease-out infinite;
}

#steam3 {
  -webkit-animation: steam1 4s ease-out 1s infinite;
  animation: steam1 4s ease-out 1s infinite;
}

@-webkit-keyframes steam1 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px) translateX(-20px) scale(1);
    opacity: 0;
  }
}

@keyframes steam1 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px) translateX(-20px) scale(1);
    opacity: 0;
  }
}

#steam2 {
  -webkit-animation: steam2 4s ease-out 0.5s infinite;
  animation: steam2 4s ease-out 0.5s infinite;
}

#steam4 {
  -webkit-animation: steam2 4s ease-out 1.5s infinite;
  animation: steam2 4s ease-out 1.5s infinite;
}

@-webkit-keyframes steam2 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px) translateX(20px) scale(1);
    opacity: 0;
  }
}

@keyframes steam2 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px) translateX(20px) scale(1);
    opacity: 0;
  }
}

#cup {
  z-index: 1;
}

#cup-body {
  position: absolute;
  height: 100px;
  width: 150px;
  border-radius: 0 0 150px 150px;
  background-color: #fff;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
}

#cup-shade {
  position: relative;
  height: 100px;
  width: 150px;
  background-color: #f3f3f3;
  display: inline-block;
  margin-left: 42%;
  margin-top: -3px;
  transform: rotate(50deg);
  z-index: 1;
}

#cup-handle {
  position: relative;
  height: 15px;
  width: 50px;
  border-radius: 0 150px 150px 0;
  border: 15px solid #f3f3f3;
  margin-bottom: 90px;
  margin-left: 100px;
  display: inline-block;
  z-index: 0;
}

#saucer {
  position: absolute;
  height: 10px;
  width: 150px;
  border-radius: 0 0 100px 100px;
  background-color: #f9f9f9;
  margin-top: -40px;
  margin-left: 5px;
  z-index: 2;
}
